* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;

}



.navbar {
	background-color: #38A3A5;
	height: 10vh;
	padding: 2rem;
}

#buttonlogin {
	border: none;
	cursor: pointer;
	background-color: #22577A;
	border-radius: 20%;
	padding: 0.2rem;
	transition: 0.3s ease;
	background: linear-gradient(to top,#22577A, #38A3A5) no-repeat right / 200%;
}

.buttonlogin:hover {
	background-position: left;
	

}


#buttonregister {
	border: none;
	cursor: pointer;
	background-color: #22577A;
	border-radius: 20%;
	padding: 0.2rem;
	background: linear-gradient(to top,#22577A, #38A3A5) no-repeat left / 200%;
	
	
}

.buttonregister:hover {
	background-position: right;
	

}

#buttonsearch {
	border: none;
	text-decoration: solid;
	cursor: pointer;
	background-color: #22577A;
	border-radius: 20%;
	padding: 0.2rem;
	background: linear-gradient(to top,#22577A, #38A3A5) no-repeat left / 200%;
	
	
}


main {
	background-color: white;
	height: 75vh;
}

#footer {
	background-color: #38A3A5;
	height: 25vh;
}